!!!5
%html{"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
    %link{:href=>"assets/css/bootstrap.css", :rel=>"stylesheet"}

  %body{:style=>"margin: 40px;"}
    .page-header
      %h2{:align=>"center"} Common Utilities
    .form
      %form{:action => "#"}
        %p The Phrase to be converted :
        %br/
        %textarea#phrase{:cols => "30", :rows => "5"}
        %br/
        %a#uni2hex{:class=>"lnks btn btn-primary btn-large", :href => "#"} Get Hex
        %a#hex2uni{:class=>"lnks btn btn-primary btn-large", :href => "#"} Get Uni
    #result
    %form
    %script{:src => "assets/js/jquery.min.js", :type => "text/javascript"}
    :javascript
      $('.lnks').click( function(){
        var url = '/' + $(this).attr('id');
        var uni = $('#phrase').val();      
        console.log(url + "::::" + uni);
        var hex = $.post(url, {phrase: uni},
            function(data){
              console.log(data);
              $('#result').text(data);
            }
          );
      });